<!DOCTYPE html>
<html>
  <head>
    <title>Flight Information</title>
  </head>
  <body>
    <h1>Flight Details for the Flight from {{origin}} to {{destination}} on {{ date }}</h1>
    {% if flight_info %}
    <div>
      <p>Total Results: {{ flight_info.flights|length }}</p>
      {% for flight in flight_info.flights %}
      <div>
        <h2>Flight ID: {{ flight.id }}</h2>
        <p>Price: {{ flight.price }}</p>
        <div>
          <div>
            <p>
              From {{ flight.origin }} to {{ flight.destination }}
            </p>
            <p>Departure: {{ flight.departure }}</p>
            <p>Arrival: {{ flight.arrival }}</p>
            <p>Duration: {{ flight.duration }} minutes</p>
            <p>Stops: {{ flight.stop }}</p>
            <p>Airline: </p>
            <p>
              {{ flight.airline }} -
              <img src="{{ flight.logoUrl }}" alt="Airline Logo" />
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No flight information available for the origin, destination and date.</p>
    {% endif %}
    <a href="/">Back</a>
    <a href="/logout">Logout</a>
  </body>
</html>
